{%extends 'base.html'%}
{% load static %}
{%block content%}
<div class="container">
  <h2 class="h2 text-center">Select all Students</h2>

  {%csrf_token %}

  {%for stud in  studs%}

    <div class="row" style="margin-top:50px">
        <div class="col h5 text-secondary text-center">
          {{stud.id}}
        </div>

        <div class="col h5 text-secondary text-center">
          {{stud.name}}
        </div>

       <div class="col h5 text-secondary text-center">
            {{stud.track}}
        </div>
</div>
  {%endfor%}

</div>
{%endblock%}